# bagimliliklar
/node_modules
/.pnp
.pnp.*

# derleme
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# ortam degiskenleri
.env
.env*.local

# vercel
.vercel

# isletim sistemi
.DS_Store
Thumbs.db

# gunlukler
npm-debug.log*
yarn-debug.log*
yarn-error.log*
